#shop-page {
    text-align: center;

    h1 {
        color: white;
        font-family: "Bebas Neue", sans-serif;
        text-align: center;
        font-size: 50px;
    }

    .images {
        width: 90%;
        display: flex;
        align-items: center;
        margin: auto;

        opacity: 0;
        animation: fadeIn 1.5s ease forwards;
        animation-delay: 0.2s;
        /* optional */


        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }

        img {
            max-width: 50%;

            &:first-child {
                transform: rotate(16deg);
            }

            &:last-child {
                transform: rotate(-16deg);
            }
        }
    }

    .shop-description, .go-to-shop {
        color: white;
        text-transform: uppercase;
        margin: auto;
        font-size: 25px;
        font-family: "Bebas Neue", sans-serif;
        display: inline-block;
        text-decoration: none;
    }

    .shop-description {
        padding: 20px;
        display: block;
        font-size: 50px;
    }

    .description {
        color: white;
        font-family: "Judson", serif;
        font-size: 23px;
    }

    .go-to-shop {
        padding: 20px 40px;
        background-color: #af824b;
        border-radius: 10px;
    }

    @media (max-width: 768px) {
        .go-to-shop {
            font-size: 25px;
        }

        .description {
            font-size: 17px;
            margin: 0 10px;
        }

        h1 {
            font-size: unset;
        }

        .shop-description {
            font-size: unset;
        }
    }
}